<style>
   .table { border-collapse: collapse; }
   .table th, td {
      border-bottom: 1px solid #FFB6C1;
      width: 250px;
      text-align: left;
      align: left;
   }
</style>

<h2>Students database application!</h2>
<table class = "table">
   <tr> 
      <th>Name :</th>
      <th>Email :</th>
      <th>Phone :</th>
      <th>Age :</th>
   </tr>
   {% for x in data %}
   <tr>
      <td>{{ x.name }}</td>
      <td>{{ x.email }}</td>
       <td>{{ x.phone }}</td>
        <td>{{ x.age }}</td> 
   </tr>
   {% endfor %}
</table>
